<table id="tabelaPosts">

    <tr id="tabPrincipalPost">
      
          <td class="colunas">
            <table class="postes">
              <tr>
              <td id="pendriveBootavel"></td>
                  
                  <td class="texto"><h3>Criar pendrive bootável</h3><br><p><a href="/PendriveBootavel.html">Click aqui</a> e veja o tutorial de como criar um pendrive bootável com CloneZilla-riso.</p></td> 
              </tr>
            </table>

          </td>

          <td class="colunas">
              <table class="postes">
                <tr>
                  <td id="particionamento"></td>
                  
                  <td class="texto"><h3>Aplicar Tabela de Particionamento</h3> <br><p><a href="/AplicarTabelaParticionamento.html">Click aqui</a> e veja como aplicar uma nova tabela de particionamento no Clonezilla-riso.</p></td> 
                </tr>
              </table>

          </td> 
              </tr>
    <tr id="tabPrincipalPost">
      
          <td class="colunas">
            <table class="postes">
              <tr>
                  <td id="formatacao"></td>
                  
                  <td class="texto"><h3>Formatar partições</h3><br><p><a href="/FormatarParticoes.html">Click aqui</a> e veja como formatar partições com Clonezilla-riso.</p></td> 
              </tr>
            </table>

          </td>

          <td class="colunas">
              <table class="postes">
                <tr>
                  <td id="recuperacao"></td>
                  
                  <td class="texto"><h3>Instalar Sistema de Recuperação</h3><br><p><a href="/InstalarSistemaRecuperacao.html">Click aqui</a> e veja como instalar o sistema de recuperação com CLonezilla-riso.</p></td> 
                </tr>
              </table>

    <tr id="tabPrincipalPost">
      
          <td class="colunas">
            <table class="postes">
              <tr>
                  <td id="particionar"></td>
                  
                  <td class="texto"><h3>Criar Tabela de Particionamento</h3><br><p><a href="/CriarTabelaParticionamento.html">Click aqui</a> e veja comocriar uma tabela de particionamento com Clonezilla-riso.</p></td> 
              </tr>
            </table>

          </td>

          <td class="colunas">
              <table class="postes">
                <tr>
                  <td id="restaurar"></td>
                  
                  <td class="texto"><h3>Criar imagem do Sistema de Recuperação</h3><br><p><a href="/CriarImagemSistemaRecuperacao.html">Click aqui</a> e veja como criar uma imagem do sistema de recuperação com CLonezilla-riso.</p></td> 
                </tr>
              </table>
    </tr>
</table>

